<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<meta name="theme-color" content="#00838F">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>maria belen caldez</title>
</head>

<body>
	<nav>
		<div class="nav-wrapper red">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a th:href="@{/cadastroProdutos}">Cadastro</a></li>
				<li><a th:href="@{/consultaProdutos}">Consulta</a></li>
			</ul>
		</div>
	</nav>
	<main>


		<div class="container">

			<h3 class="tituloPadrao red-text col s12">
				<i class="medium material-icons">input</i>
				Cadastro de Produto
			</h3>
			<form th:action="@{cadastroProdutos}" method="post">
				<label for="idnome">Nome</label>
				<input id="idnome" type="text" placeholder="Informe nome" name="nome" required />

				<label for="idpreco">Preco</label>
				<input id="idpreco" type="text" placeholder="Informe o preço" name="preco" required />

				<label for="idestoque">Estoque</label>
				<input id="idestoque" type="text" placeholder="Informe quantidade" name="estoque" required />
				
				<a class="waves-effect waves-light btn red"><i class="material-icons left">save</i>Salvar</a>

		</div>
	</main>

</body>

</html>