<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#00838F">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/app.css">
	<title>Meu site Materializado</title>
</head>

<body>
	<nav>
		<div class="nav-wrapper red">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a th:href="@{/cadastroProdutos}">Cadastro</a></li>
				<li><a th:href="@{/consultaProdutos}">Consulta</a></li>
			</ul>
		</div>
	</nav>
	<main>


		<div class="container">


			<h1 class="tituloPadrao red-text col s12">
				<i class="medium material-icons">local_grocery_store</i>
				
			</h1>
	</main>

</body>

</html>